In [2]:
import pandas as pd

In [3]:
# Read data from file
df = pd.read_csv('adult.data.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [119]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [27]:
df.columns.values

array(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'], dtype=object)

In [104]:
df_country_salary_totals.index

Index(['United-States', 'Mexico', '?', 'Philippines', 'Germany', 'Canada',
       'Puerto-Rico', 'El-Salvador', 'India', 'Cuba', 'England', 'Jamaica',
       'South', 'China', 'Italy', 'Dominican-Republic', 'Vietnam', 'Guatemala',
       'Japan', 'Poland', 'Columbia', 'Taiwan', 'Haiti', 'Iran', 'Portugal',
       'Nicaragua', 'Peru', 'France', 'Greece', 'Ecuador', 'Ireland', 'Hong',
       'Cambodia', 'Trinadad&Tobago', 'Laos', 'Thailand', 'Yugoslavia',
       'Outlying-US(Guam-USVI-etc)', 'Honduras', 'Hungary', 'Scotland',
       'Holand-Netherlands'],
      dtype='object', name='native-country')

In [13]:
df.salary.unique()

array(['<=50K', '>50K'], dtype=object)

In [56]:
df[df['salary'] == '>50K']
df[( df['salary'] == '>50K') & (df['native-country'] == 'India') ]['occupation'].value_counts(ascending=False).index[0]

'Prof-specialty'

In [48]:
25/40

0.625

In [57]:
# How many of each race are represented in this dataset? Thi
race_count = df.race.value_counts()

# What is the average age of men?
average_age_men = round( df.age[df.sex == 'Male'].mean() , 1)
# What is the percentage of people who have a Bachelor's deg
percentage_bachelors = round( 100 * df.education[ (df.education == 'Bachelors') ].count() / len(df) , 1  )
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.education[ (df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')]
#this is much more elegant:   df.education[df.education.isin(['Bachelors','Masters','Doctorate'])].count()
lower_education = df.education[ ~((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate'))]
# percentage with salary >50K
# higher_education_rich = round (df.education[  (df.salary == '>50K') & ( (df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate') ) ].count() / len(df)   , 1)
higher_education_rich = round (100* higher_education[(df.salary == '>50K')].count() / len(higher_education)   , 1)

lower_education_rich = round (100* lower_education[(df.salary == '>50K')].count() / len(lower_education)   , 1)
# What is the minimum number of hours a person works per wee
min_work_hours = df['hours-per-week'].min()
# What percentage of the people who work the minimum number of hours per week have a salary of >50K? 
num_min_workers = len(df[df['hours-per-week'] == min_work_hours ])
num_min_workers_rich = len( df[ (df['hours-per-week'] == min_work_hours)  &  (df.salary == '>50K') ]  )
rich_percentage = round(100*num_min_workers_rich/num_min_workers)   #this was not rounded to two decimals as the test module\
# has  expected = 10   , with no decimals
# What country has the highest percentage of people that earn >50K?
df_country_salary_totals = df['native-country'].value_counts().to_frame()
df_country_salary_rich = df['native-country'][df.salary == '>50K'].value_counts().to_frame()
df_country_salary_rich = df_country_salary_rich.rename( columns={'count':'count_rich'})
df_country_salaries_proportions = pd.concat( [df_country_salary_rich,df_country_salary_totals], axis=1, ignore_index=False)
df_country_salaries_proportions['rich_total_ratio'] = df_country_salaries_proportions['count_rich'] / df_country_salaries_proportions['count']

highest_earning_country = df_country_salaries_proportions.loc\
    [df_country_salaries_proportions.rich_total_ratio == df_country_salaries_proportions.rich_total_ratio.max()].index.values[0]
highest_earning_country_percentage = round( 100 * df_country_salaries_proportions.rich_total_ratio.max() ,1 )
# Identify the most popular occupation for those who earn >5
top_IN_occupation = df[( df['salary'] == '>50K') & (df['native-country'] == 'India') ]\
    ['occupation'].value_counts(ascending=False).index[0]
# DO NOT MODIFY BELOW THIS LINE
print_data=True
if print_data:
    print("Number of each race:\n", race_count) 
    print("Average age of men:", average_age_men)
    print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
    print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
    print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
    print(f"Min work time: {min_work_hours} hours/week")
    print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
    print("Country with highest percentage of rich:", highest_earning_country)
    print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
    print("Top occupations in India:", top_IN_occupation)

Number of each race:
 race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty